CopyClever.xcodeproj/project.xcworkspace/xcuserdata/mek.xcuserdatad/UserInterfaceState.xcuserstate
CopyClever.xcodeproj/xcuserdata/mek.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.idea/CopyClever.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/xcode.xml
.idea/inspectionProfiles/Objective_C.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/scopes/scope_settings.xml
Copy Clever Helper/.idea/.name
Copy Clever Helper/.idea/Copy Clever Helper.iml
Copy Clever Helper/.idea/encodings.xml
Copy Clever Helper/.idea/modules.xml
Copy Clever Helper/.idea/vcs.xml
Copy Clever Helper/.idea/workspace.xml
Copy Clever Helper/.idea/xcode.xml
Copy Clever Helper/.idea/scopes/scope_settings.xml
